<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>com.bank.servlet.Authenticate</servlet-class>
    <init-param>
      <param-name>driverClass</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dbUrl</param-name>
      <param-value>jdbc:mysql://localhost/Bank_Db</param-value>
    </init-param>
    <init-param>
      <param-name>dbUser</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value>root</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SavingAccount</display-name>
    <servlet-name>SavingAccount</servlet-name>
    <servlet-class>com.bank.servlet.SavingAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavingAccount</servlet-name>
    <url-pattern>/SavingAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavingAccServlet</display-name>
    <servlet-name>SavingAccServlet</servlet-name>
    <servlet-class>com.bank.servlet.SavingAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavingAccServlet</servlet-name>
    <url-pattern>/SavingAccServlet</url-pattern>
  </servlet-mapping>
</web-app>